.container {
    padding-left: 15px;
    padding-right: 15px;
}

.blockOne {
    padding-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-size: 18px;
}

.answerText {
    font-size: 16px;
    margin: 5px;
}
