/*.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #d299c2, #fef9d7);
}*/
/*.blockContainer {
    width: 800px;
    height: 500px;
    background: aliceblue;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}*/

.imgContainer {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 196px;
    height: 196px;
}

.imgAvatar {
    width: 196px;
    height: 196px;
    border-radius: 10px;
}

.textBlock {
    margin-left: 20px;
    margin-bottom: 10px;
}

.textOne {
    font-size: 16px;
}

.textTwo {
    font-size: 16px;
    font-weight: bold;
}

.button {
    margin-top: 15px;
    text-align: center;
    width: 500px;
}