.headerBlock {
    display: flex;
    justify-content: flex-end;
    /*//padding: 10px 20px;*/
    align-items: center;
    background-color: aliceblue;
    height: 6vh;
}
.nav {
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 600;
}

.item a {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}


.item a.activeLink {
    color: #333333;
    font-weight: bold;
}
